<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="card container" style="width: 40rem;">
  <h3>Sign into PassLocker</h3>
  <form>
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="userName" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="userPass">Password</label>
      <input type="password" class="form-control" id="userPass" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

</div>


